body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.hero-img{
    background-image: url("images/banner-img.jpg");
    width: 100vw;
    height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  color: red;
  font-size: 28px;
  font-weight: bold;
}

/* .lang-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  margin-right: 10px;
  cursor: pointer;
} */

select {
    padding: 8px 12px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

select option {
    background: white;
    color: black;
}

.sign-in {
  background: red;
  border: none;
  color: white;
  padding: 7px 15px;
  cursor: pointer;
}

/* Content */
.content {
  text-align: center;
  margin-top: 150px;
}

.content h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Email input + button */
.signup-box {
  display: flex;
  justify-content: center;
}

.signup-box input {
  padding: 15px;
  font-size: 16px;
  width: 300px;
  border: 1px solid gray;
  outline: none;
  background: rgba(0,0,0,0.6);
  color: white;
}

.signup-box button {
  background: red;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
}


/* More Reasons to Join */
.r1, .r2{
    margin-left: 10%;
    margin-right: 10%;
}

.r1 h2{
    font-size: 22px;
}

.r2{
    display: flex;
}

.c1,.c2,.c3,.c4{
    width: 291px;
    height: 324px;
    border-radius: 6px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(pink,purple);
}

.c1,.c2,.c3,.c4 h3{
    font-size: 22px;
}

.c1,.c2,.c3,.c4 p{
    font-size: 20px;
}

/* Frequently Asked Questions */
.questions{
    font-size: 15px;
}

.questions h2{
    font-weight: 500;
    margin-left: 10%;
}

.first-q,.second-q,.third-q,.fourth-q,.fiveth-q,.sixth-q{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #424242;
}

.first-q,.second-q,.third-q,.fourth-q,.fiveth-q,.sixth-q h3{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 24px;
}

.first-a,.second-a,.third-a,.fourth-a,.fiveth-a,.sixth-a{
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #424242;
}

.first-a,.second-a,.third-a,.fourth-a,.fiveth-a,.sixth-a p{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 24px;
}


/* Footer */
.footer h4{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons input{
    padding: 15px;
    font-size: 16px;
    border: 1px solid gray;
    outline: none;
    width: 300px;
    background-color: #111;
    color: white;
    border-radius: 4px;
}

.buttons button{
    background-color: red;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px ;
    border-radius: 1px;
}

.query{
    margin-left: 10%;
    font-size: 16px;
    font-weight: 700;
    color: gray;
}

.num{
    color: gray;
}

.row1{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.row1 ul{
    list-style-type: none;
    padding-left: 0px;
}

.row1 a{
    color: gray;
    font-size: 15px;
    font-weight: 40px;
}

.row1 li{
    font-size: 17px;
    font-weight: 300;
}

/* .footer-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    font-size: 14px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10%;
    margin-top: 35px;
} */

.footer-btn{
    margin-left: 10%;
    margin-top: 35px;
}

.footer p{
    margin-left: 10%;
    margin-top: 45px;
    font-size: 16px;
    font-weight: 300;
    color: gray;
}

.learn-more{
   color: lightblue;
}